# List

In [1]:
lst=["sam",12,45.6,[1,2,5]]

In [2]:
lst

['sam', 12, 45.6, [1, 2, 5]]

In [3]:
lst.append("India")

In [4]:
lst

['sam', 12, 45.6, [1, 2, 5], 'India']

In [5]:
lst.index(45.6)

2

In [9]:
lst.pop(3)

[1, 2, 5]

In [10]:
lst

['sam', 12, 45.6, 'India']

In [11]:
lst.reverse()

In [12]:
lst

['India', 45.6, 12, 'sam']

In [15]:
lst.count(12)

1

# Dictionary

In [19]:
dit={"name":"Sam","age":25,"number":8473950382,"email":"sam@gmail.com"}

In [20]:
dit

{'name': 'Sam', 'age': 25, 'number': 8473950382, 'email': 'sam@gmail.com'}

In [21]:
dit.get("name")

'Sam'

In [22]:
dit.items()

dict_items([('name', 'Sam'), ('age', 25), ('number', 8473950382), ('email', 'sam@gmail.com')])

In [23]:
dit.pop("email")

'sam@gmail.com'

In [24]:
dit

{'name': 'Sam', 'age': 25, 'number': 8473950382}

In [25]:
dit.keys()

dict_keys(['name', 'age', 'number'])

In [27]:
dit2={"country":"India"}

In [28]:
dit.update(dit2)

In [29]:
dit

{'name': 'Sam', 'age': 25, 'number': 8473950382, 'country': 'India'}

# Set

In [30]:
st={1,2,4,5,4,"Hello"}

In [31]:
st

{1, 2, 4, 5, 'Hello'}

In [32]:
st2={2,4}

In [33]:
st2.issubset(st)

True

In [34]:
st2.add("Everyone")

In [35]:
st2

{2, 4, 'Everyone'}

In [36]:
st2.intersection(st)

{2, 4}

In [37]:
st.difference(st2)

{1, 5, 'Hello'}

In [38]:
st.union(st2)

{1, 2, 4, 5, 'Everyone', 'Hello'}

# Tuple

In [39]:
tup=(1,2,3,4,2,2,"Hello")

In [40]:
tup

(1, 2, 3, 4, 2, 2, 'Hello')

In [41]:
tup.count(2)

3

In [42]:
tup.index("Hello")

6

# String

In [43]:
str="python is easy to code!!"

In [44]:
str

'python is easy to code!!'

In [45]:
str.capitalize()

'Python is easy to code!!'

In [46]:
str.isalpha()

False

In [47]:
str.isascii()

True

In [48]:
str.islower()

True

In [49]:
str.isspace()

False